@import 'variables.scss';

@import 'common.scss';

.#{$namespace}conversation-container {
    .#{$namespace}videoFrame {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.video-element {
    outline: none;
    height: 487px;
}

.video-logo {
    position: absolute;
    top: 20px;
    right: 20px;
}
